/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0071bc;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover, .dropdown:hover .dropbtn 
{
  background-color: #6A98BC;
  text-decoration: none;
}
  
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.main
{
 margin: auto;
 width: 50%;
 border: 0px solid green;
 padding: 10px;
 text-align: center;
}

.main2
{
 display: inline-block;
 border: 0px solid green;
 text-align: left;
}

input[type=submit] 
{
padding: 5px 15px;
background: #35a049;
border: 0 none;
cursor: pointer;
-webkit-border-radius: 5px;
border-radius: 5px;
color: white;
width: 200px;
}

 input[type=file] 
{
padding: 5px 15px;
/*background: #35a049;*/
/*border: 0 none;
cursor: pointer;
-webkit-border-radius: 5px;
border-radius: 5px;
color: black;
width: 20%;
margin-left: 10px;
}

input[type=text]
 {
    padding:5px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: black;
}*/
/*body{
  font-family: 'Helvetica', 'Arial', sans-serif;
}*/
/*categories design*/
   .wrapper_parent{
     text-align: center;
     margin-top: 5px;
    }

    .wrapper_logo{
      width: 250px;
      display: inline-block;
      margin-left: 50px;
      height: 110px;
        /*position: absolute;*/
    }
  
  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /*background-color: #111;*/ /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    /*gradient background*/
    background-image: linear-gradient(#3c87a8,#75b6d9);
    background-repeat: no-repeat;
    overflow-y: auto;
  }

  /* The navigation menu links */
  .sidenav{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  a{
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline-block;
    transition: 0.3s;
  }

  p>a{
    padding: 0px 8px 8px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #265ca5;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #111;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
      margin-left:auto; 
      margin-right:0;
      padding: 10px;
      width: 80%;
      font-family: sans-serif, 'Helvetica', 'Arial';
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

    .wrapper_div_menu{
        margin:auto;
        width: 100%;
        border: 0px solid black;
        padding: 10px;
        display: inline;
    }

    h1{
        font-size: 22px;
        color: white;
        margin-bottom: 2px;
        text-align: left;
        margin-left: 80px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;

    }

    h2{
        margin-top: 0px;
        font-size: 20px;
        color: white;
        text-align: left;
        margin-left: 80px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    h3{
        margin-top: 0px;
        font-size: 18px;
        color: #a0d3e9;
        text-align: left;
        margin-left: 50px;
        font-family: sans-serif;
        margin-top:  50px;
        margin-left: 120px;
    }

    .grid-container{
       display: grid;
       grid-template-columns: auto auto auto auto;
       margin-left: 120px;
    }

    .grid-item {
          background-color: rgb(255, 255, 255);
          border: 1px solid #fdfdfd;
          padding-top: 10px;
          padding-right: 5px;
          padding-bottom: 5px;
          padding-left: 5px;
          font-size: 30px;
          text-align: center;
          width: 180px;
          height: auto;
          margin: 5px;
          box-shadow: 0 0 4px 0px #b3b1b1;
    }

    .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          height: 180px;
          background-color: white;
          border: 1px solid #dedddd;
          padding-bottom: 0px;
          margin-bottom: -10px;
          object-fit: cover;
        }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      /*background-color: #0071bc;*/
      text-align: left;
    }

    li {
      /*float: l;*/
      /*float: left;*/
      width: 100%;
      margin: 5px;
      /*background-color: #0071bc;*/
      padding: 2px;
    }

    strong{
      font-size: 18px;
      margin-right: 5px;
    }

    p{
      color: black;
      margin-left: 5px;
      font-size: 15px;
      display: block;
      text-align: left;
    }

    button{
      background-color: #0f6a92;
      color: white;
      float: left;
      width: 50px;
      height: 30px;
      margin-top: 12px;
      border: 1px solid #0f6a92;
    }

    input[type=submit] {
      background-color: #0f6a92;
      color: white;
      float: left;
      width: 50px;
      height: 30px;
      margin-top: 12px;
      border: 1px solid #0f6a92;
    }
